.title {
  text-align: center;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  margin: 0 auto;
  padding: 14px 20px;
  background-color: var(--background-title);
  backdrop-filter: blur(var(--background-blur));
}

@media screen and (min-width: 765px) {
  .title {
    max-width: max-content;
    font-size: 36px;
    padding: 20px 26px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 44px;
  }
}
