.container {
  background-color: var(--background-title);
  backdrop-filter: blur(var(--background-blur));
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  /* height: 100%; */
}

.nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 375px;
}

@media screen and (min-width: 768px) {
  .nav {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    max-width: 1280px;
  }
}

.list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.welcomeText {
  font-size: 14px;
  text-align: end;
  max-width: 100px;
  font-weight: 550;
}

@media screen and (min-width: 768px) {
  .welcomeText {
    max-width: 100%;
    font-size: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .welcomeText {
    font-size: 19px;
  }
}

.link {
  font-size: 14px;
  color: var(--link-color);
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .link {
    font-size: 18px;
  }
}

.logOut {
  font-size: 16px;
  padding: 4px 6px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .logOut {
    padding: 5px 10px;
  }
}

@media screen and (min-width: 1280px) {
  .logOut {
    font-size: 18px;
  }
}
